[Unit]
Description=Run IA Web Server

[Service]
ExecStart=/usr/bin/sudo /usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:80 app:server
WorkingDirectory=/home/solariaga/proyecto/src
User=solariaga
Restart=always

[Install]
WantedBy=multi-user.target

#  Installing A Service
# 1. Create your service file.
# 2. Copy it to /etc/systemd/system:
# sudo cp lisa_boot_web_server.service /etc/systemd/system/
# 3. Update systemd’s internal data:
# sudo systemctl daemon-reload
# 4. Enable your service
# sudo systemctl enable lisa_boot_web_server.service
# 5. Start it
# sudo systemctl start lisa_boot_web_server.service
# 6. Check its status
# sudo systemctl status lisa_boot_web_server.service
# 7. Check its logs
# journalctl -u lisa_boot_web_server.service
# 8. Stop it
# sudo systemctl stop lisa_boot_web_server.service